@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica, Arial, sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1, h2, h3 {
    font-size: 24px;  /* h1のサイズ */
    display: inline;
}

h2 {
    font-size: 36px;  /* h2のサイズ */
    margin-bottom: 15px;
}

h3 {
    font-size: larger;  /* h3のサイズ */
}

li, p, a, pre{
    margin-top: 5px;  /* 統一されたマージン */
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
    table-layout: fixed;
}

table {
    width: 100%;  /* テーブルの幅をページ幅に合わせる */
    margin: 0 auto;  /* テーブルをページの中央に配置 */
}

th, td {
    padding: 10px 2%;
}

th {
    width: 26%;
}

td {
    width: 66%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a, h1 a {
    color: #eeeeee;
}

table#employee_list th, table#employee_list td {
    width: 30%;
}

table#report_list th {
    font-weight: bold;
}

table#report_list .report_name,
table#report_list .report_date,
table#report_list .report_title,
table#report_list .report_action {
    text-align: left;
}

/* エラーメッセージ */
#flush_error, #flush_success {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
    border: 1px solid; /* ボーダーの色は後で指定 */
}

#flush_error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

#flush_success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left; /* preタグ内のテキストを左揃えに設定 */
}
